@charset "utf-8";

.btn_col4 {
    background-color: white;
    border: 1px solid #DDD;
    width: 110px;
    height: 30px;
  }

.btn_col2.ty7 {
    height: 52px;
    line-height: 50px;
    padding: 0 24px;

}

.btn_col1.ty7 {
    height: 52px;
    line-height: 50px;
    padding: 0 24px;
    cursor: pointer;
    border: 1px solid #DDD;
    background-color: white;
}

.btn_col1 {
    border-radius: 4px;
    font-size: 14px;
}    

.btn_col2 {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    background-color: #414141;
}


.tab_wrap {
    margin-top: 100px;
}
/* ddddd */
.layer_coupon_gift {
    width: 680px;

}

.layer_coupon_gift {

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -356px;
    margin-left: -350px;
    z-index: 9999;

}

.layer_header{
    border-radius: 30px 30px 0 0;
}


/* .layer_coupon_gift::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #414141;
    width: 100%;
    height: 100vh;
} */
.storeGift_bg_color{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #414141;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;


}

.layer_header {
    padding-top: 50px;
    border-bottom: 1px solid #CCC;
    color: #FFF;
    text-align: center;
}

 .layer_header .StoreGift_tit {
    font-size: 18px;
    color: #000;
}

 .layer_header .btn_close {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: white;


    /* background: transparent url(../../Content/images/icon/close_19.png) no-repeat 0 0; */
    /* background: transparent url(../../Content/images/icon/close_19.png) no-repeat 0 0; */
}



.btn_close {
    margin-right: 50px;    
    border: none;
}


.bx_cnt {
    display: flex;

}

.bx_tit {
    margin-left: 40px;
    margin-right: 90px;
}

.coupon_gift_top{
    border-bottom: 1px solid #CCC;
    display: flex;

    align-items: center;
}

.g_input{
    margin: 2%;
    width: 450px;
    height: 5vh;
    background-color: #F8F8F8;
    border-color: transparent;
}

.StoreGift_inputButton {
    width: 160px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    background-color: #414141;
    margin: 20px;
    
}

.StoreGift_tit {
    background-color: white;
    margin-bottom: 40px;
    font-weight: bold;

    
}

.layer_header {
    background-color: white;
}

.gift_input {
    background-color: white;
    border-radius: 0 0 30px 30px;

}

.coupon_gift_top {
    background-color: white;
}

.StoreGift_input {
    width: 100%;
}

.StoreGift_input th {
    margin-left: 100px;
    color: #7F7F7F;
    font-weight: bold;
}

.StoreGift_bx_thm{
    margin-left: 30px;
}

.StoreGift_input th {
    text-align: left; /* 텍스트를 왼쪽으로 정렬합니다. */
    padding-left: 60px; /* 구분을 위해 오른쪽에 약간의 패딩을 추가합니다. */
  }


.btn_close img{
    position: relative;
    right: -50px;
    top: 20px;
}

.characterCount{
    text-align: right;
    margin-right: 25px;
}

#StoreGift_message{
    height: 90px;
}

