@charset "utf-8";

/* ddddd */
.layer_StoreTicket {
    width: 680px;

}

.layer_StoreTicket {

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -356px;
    margin-left: -350px;
    z-index: 9999;

}

.layer_header_StoreTicket{
    border-radius: 30px 30px 30px 30px;
    height: 780px; 
    width: 1500px;
    background-color: white;
}

.layer_header_StoreTicket {
    padding-top: 50px;
    border-bottom: 1px solid #CCC;
    color: #FFF;
    text-align: center;
    position: relative; /* 추가 */
}

 .layer_header_StoreTicket .StoreTicket_tit {
    font-size: 18px;
    color: #000;
}

.StoreTicket_tit {
    background-color: white;
    margin-bottom: 20px;
    font-weight: bold;

}


 .layer_header_StoreTicket .btn_close {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: white;
 }
.btn_close {
    margin-right: 50px;    
    border: none;
}
    
.btn_close img{
    position: relative;
    right: -50px;
    top: 20px;
}
    

.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;


}

/* dddddddddddddddddddddddddddddddddddd */
.StoreTicket_posible {
    display: flex;
    border-top: 1px solid #CCC;
    height: 100%;
}

.StoreTicket_area {
    color: black;
    justify-content: center;

    /* position: absolute; 
    bottom: 0; */

}

#StoreTicket_area{
    border-right: 1px solid #CCC;
    height: 91.5%;
}

.StoreTicket_area > ul > li > a{
    display: block;
    position: relative;
    width: 175px;
    box-sizing: border-box;
    padding: 10px 16px;
    font-size: 13px;
    text-align: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.StoreTicket_area > ul > li {
    border-bottom: 1px solid #CCC;
}

.StoreTicket_area_detail {
    color: black;
    /* background-color: lightgray; */
    width: 100%;
    margin-top: 20px;
    padding-left: 30px;
    position: sticky; /* 추가 */
    top: 0; /* 추가 */
}

.StoreTicket_area > ul {
    padding-left: 0; /* 추가: 좌측 여백 제거 */
}

.StoreTicket_area_detail > ul > li{
    float: left;
    width: 23%;
    height: 50px;
    line-height: 50px;
    margin: 0 1% 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #EEE;
    text-align: center;
    white-space: normal;
    background-color: #FFF;
    display: table;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
}

.StoreTicket_area_detail > ul {
    padding: 15px;
    padding-left: 0;

}

.StoreTicket_area_detail > ul > li > span{
    justify-content: center;
    align-items: center;
    display: flex;
}


.selectedButton {
    background-color: gray;

    /* 원하는 스타일 추가 */
  }

.StoreTicket_map{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 50px;
 }

