@charset "utf-8";


.Store_Payment_Finish_btn_col1 {
    height: 52px;
    line-height: 50px;
    padding: 0 48px;
    cursor: pointer;
    border: 1px solid #DDD;
    margin: 4px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.Store_Payment_Finish_btn_col2 {
    height: 52px;
    line-height: 50px;
    padding: 0 24px;
    cursor: pointer;
    border: 1px solid #DDD;
    background-color: white;
    margin: 4px;
}

.Store_Payment_Finish_btn_col3 {
    height: 52px;
    line-height: 50px;
    padding: 0 24px;
    cursor: pointer;
    border: 1px solid #DDD;
    /* background-color: #ff243E;
    color: white; */
    margin: 4px;
}
