.Admin_Update_Edit {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.Admin_Update_Edit .updateEdit {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.Admin_Update_Edit .editBtn {
    background-color: black;
    padding: 10px 20px;
    margin-top: 20px;
}

.Admin_Update_Edit .editBtn:hover {
    background-color: #FF243E;
}

.Admin_Update_Edit .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 700px;
    margin-top: 30px;
}

.Admin_Update_Edit .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.MuiSelect-select {
    margin-top: 20px;
    width: 680px;
    text-align: left;
}
