.Admin_Arte_Add {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.Admin_Arte_Add .arteAdd {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.Admin_Arte_Add .saveBtn {
    background-color: black;
    padding: 10px 20px;
    margin-top: 20px;
}

.Admin_Arte_Add .saveBtn:hover {
    background-color: #FF243E;
}

.Admin_Arte_Add .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 700px;
    margin-top: 30px;
}

