.Admin_Next_Add {
    width: 100%;
    height: 100%;
}

.Admin_Next_Add .nextAdd {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.Admin_Next_Add .saveBtn {
    background-color: black;
    padding: 10px 20px;
    margin-top: 20px;
}

.Admin_Next_Add .saveBtn:hover {
    background-color: #FF243E;
}

.Admin_Next_Add .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 700px;
    margin-top: 30px;
}

