.Admin_GroupForm_Answer {
    width: 100%;
    height: 100%;
}

.Admin_GroupForm_Answer .groupAnswer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.Admin_GroupForm_Answer .saveBtn {
    background-color: black;
    padding: 10px 20px;
    margin-top: 20px;
}

.Admin_GroupForm_Answer .saveBtn:hover {
    background-color: #FF243E;
}

.Admin_GroupForm_Answer .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 700px;
    margin-top: 30px;
}

