.loginComponent_wrappage {
    text-align: center;
    
}
.login_box {
    width: 500px;
    height: 110px;
    text-align: left;
    margin: 0 auto;
    display: flex;
}

.input_box {
    width: 350px;
}

.loginComponent_btn{
    width: 100px;
    height: 70px;
    margin-top: 33px !important;
}

.signup {
    padding-left: 20px;
    
    padding-right: 20px;
}

.confirmPassword {
    padding-left: 20px;
}

.loginComponent_box{
    border: 1px solid;
    width: 800px;
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 160px;
}

.login_bot{
    margin-top: 20px;
}

.addressBox {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100vh; /* 화면의 전체 높이를 차지하도록 설정 */
  }
  
  .modalContent {
    width: 80%; /* 모달 내용의 너비를 조절합니다. */
    max-width: 1000px; /* 최대 너비를 설정할 수도 있습니다. */
    background-color: white; /* 모달 내용의 배경색을 지정합니다. */
    padding: 20px; /* 내용의 여백을 설정합니다. */
    border-radius: 8px; /* 모달의 모서리를 둥글게 만듭니다. */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. */
  }
  