.Res_seat div {
  white-space: nowrap;
}

.Res_seat a {
  text-decoration: none;
  color: #666;
}

.Res_seat ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Res_seat li {
  list-style: none;
}

.Res_seat {
  background-color: #444;
  padding: 50px;
  height: 100%;
  width: 100%;
}

.Res_seat .Res_seat_content {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.Res_seat .Res_seat1,
.Res_seat .Res_seat2 {
  height: auto;
  width: 100%;
  background-color: white;
}

.Res_seat .Res_seat1 {
  width: 100px;
}

.Res_seat>div:not(.Res_seat1) {
  /* Res_menu1을 제외하고 넓이 자동 맞춤 */
  flex-grow: 1;
}

.Res_seat .Res_seat_content>div>ul {
  /* 부모 요소에 맞춰서 높이 설정 */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Res_seat .Res_seat_content>div>ul>li {
  /* 남은 공간을 모두 채우도록 설정 */
  flex-grow: 1;
}

.Res_seat1 li {
  border: 1px solid #666;
  border-bottom: none;
}

.Res_seat .step {
  padding: 100px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.Res_seat .step_content,
.Res_seat .step_content2 {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  left: 100%;
  top: 0;
  padding-left: 20px;
}

.Res_seat .step_content dt,
.Res_seat .step_content2 dt {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  border: none;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}

.Res_seat .step:hover .step_content,
.Res_seat #step2:hover .step_content2 {
  background-color: #FF243E;
  display: flex;
  align-items: center;
  height: 100%;
}

.Res_seat #step2:hover .step_content2 {
  background-color: #333;
}

.Res_seat .step:hover {
  background-color: #FF243E;
  cursor: pointer;
}

.Res_seat .step:hover a {
  color: white;
}

.Res_seat #step1 {
  background-color: #FF243E;
}

.Res_seat #step1 a,
.Res_seat #step2 a {
  color: white;
}

.Res_seat #step2 {
  background-color: #333;
}

.Res_seat .Res_seat2_header,
.Res_seat .Res_seat2_main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Res_seat .Res_tit {
  font-size: 18px;
  padding: 20px 150px;
  border: 1px solid #666;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: black;
  color: white;
  font-weight: 600;
  height: auto;
}

.Res_seat .Res_seat2_header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Res_seat .Res_movie {
  margin: 10px;
}

.movie_img,
.age_img {
  display: inline-block;
  vertical-align: middle;
}

.Res_seat .Res_seat2 p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.Res_seat .movie_img {
  width: 65px;
  height: 80px;
}

.Res_seat .age_img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.Res_seat .movie_name {
  font-size: 15px;
}

.Res_seat .Res_movie_content li {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.Res_seat .Res_cnt li {
  padding-right: 10px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
}

.Res_seat .Res_cnt button {
  border: none;
  outline: none;
  background: none;
}

.Res_seat .Res_cnt span {
  padding: 10px;
}

.Res_seat .Res_cnt div {
  border: 1px solid #DDD;
  height: 30px;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.Res_seat .Res_screen_top {
  color: #fff;
  background-color: #6E6E6E;
  font-size: 16px;
  margin: 0 30px;
  padding: 5px 0 5px;
  letter-spacing: 15px;
  text-align: center;
  display: block;
}

.Res_seat .Res_msg {
  color: white;
  font-size: 12px;
  margin: 15px 0 25px;
  text-align: center;
}

.Res_seat .Res_seat2_main {
  background-color: black;

}

.Res_seat .MovieSeats {
  margin-top: 150px;
  color: white;
}

.seat_alphabet {
  font-size: 15px;
  font-weight: 600;
  margin-right: 20px;
}

.Res_seat .Res_seat2_bottom {
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 100px 0 42px 50px;
}

.Res_seat .square {
  width: 35px;
  height: 25px;
  display: inline-block;
  margin: 3px;
  padding-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Res_seat .square.checked {
  background-color: #FF243E;
}

.Res_seat .square:not(.checked) {
  background-color: #FFF;
}

.Res_seat .single-square1 {
  width: 17px;
  height: 13px;
  background-color: #FF243E;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Res_seat .single-square2 {
  width: 17px;
  height: 13px;
  background-color: #FFF;
  margin-right: 5px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Res_seat .single-square3 {
  width: 17px;
  height: 13px;
  background-color: #666;
  margin-right: 5px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Res_seat .single-square4 {
  width: 17px;
  height: 13px;
  background-color: #666;
  margin-right: 5px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.single-square4::after {
  content: "X";
  color: black;
}

.Res_seat .seat_payment {
  color: #fff;
  background-color: #6E6E6E;
  font-size: 16px;
  letter-spacing: 15px;
  text-align: center;
  display: block;
  height: 60px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  /* 요소들을 컨테이너 양쪽 끝에 배치 */
  align-items: center;
}

.Res_seat .seat_payment span {
  padding-left: 20px;
}

.Res_seat .seat_payment button {
  background-color: #FF243E;
  height: 60px;
  width: 150px;
  border: none;
  color: white;
  font-size: 14px;
}