.Res_menu a {
    text-decoration: none;
    color: #666;
}

.Res_menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.Res_menu li {
    list-style: none;
}

.Res_menu {
    display: flex;
    padding: 0;
    text-align: center; 
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#Res_menu1 li {
    border: 1px solid #666;
    border-bottom: none;
    width: 100px;
}

.Res_menu .step {
    padding: 100px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 12px;
}

.Res_menu .step_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    left: 100%;
    top: 0;
    padding-left: 20px;
}

.Res_menu .step_content dt {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
}

.Res_menu .step:hover .step_content {
    background-color: #FF243E;
    display: flex;
    align-items: center;
    height: 100%; 
}

.Res_menu .step:hover {
    background-color: #FF243E;
    cursor: pointer;
}

.Res_menu #step1 {
    background-color: #FF243E;
}

.Res_menu #step1 a {
    color: white;
}

.Res_menu .step:hover a {
    color: white;
}

.Res_menu .menu2,
.Res_menu .menu3,
.Res_menu .menu4 {
    display: flex;
    flex-direction: row;
}

.Res_menu .menu2 ul {
    list-style: none;
    width: 200px;
    font-size: 15px;
    text-align: left;
}

.Res_menu .menu3 ul {
    list-style: none;
    width: 400px;
    font-size: 15px;
    text-align: left;
}

.Res_menu .menu4 ul {
    list-style: none;
    width: 300px;
    font-size: 15px;
    text-align: left;
}

.Res_menu .menu2 ul li,
.Res_menu .menu3 ul li,
.Res_menu .menu4_main,
.Res_menu .menu4_sub {
    margin-top: 20px;
    padding-left: 20px;
}

.Res_menu .menu2_left,
.Res_menu .menu3_left {
    background-color: #F5F5F5;
}

.Res_menu .Res_tit {
    font-size: 18px;
    padding: 20px 150px;
    border: 1px solid #666;
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
    height: 68px;
}

.Res_menu .Res_left > li:nth-of-type(2) {
    height: -webkit-calc(100% - 65px); /* google, safari */
}

.Res_menu .Res_left,
.Res_menu .menu2,
.Res_menu .menu3,
.Res_menu .menu4 {
    height: 100%;
}

.Res_menu .menu2_left a {
    font-weight: 500;
    color: black;
}

.Res_menu .menu3_left a,
.Res_menu .menu4_left a {
    font-weight: 600;
    color: black;
}

.Res_menu img {
    width: 20px;
    margin-right: 10px;
}

.Res_menu .menu4_sub li {
    height: 50px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    text-align: center;      
}

.Res_menu .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Res_menu .popup_content {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 500px;
    height: 500px;
  }

  .Res_menu .popup_content strong {
    font-size: 18px;
  }

  .Res_menu .popup_content button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    height: 10%;
    color: white;
  }

  .Res_menu .popup_content button[name="n"] {
    background-color: #414141;
    border: 1px solid #414141;
  }

  .Res_menu .popup_content button[name="y"] {
    background-color: #FF243E;
    border: 1px solid #FF243E;
  }
 
  .Res_menu .Res_screen {
    width: 450px;
    height: 250px;
    margin-left: 15px;
  }

