.Consult{
    display: inline;
}

.haveto{
    color: red;
    font-size: 5px;
}

.select1{
    margin-right: 5px;
    width: 195px;
    height: 40px;
    font-size: 15px;
    background: white;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px
}

.select2{
    margin-right: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px
}

.consult_content{
    padding:13px 18px;
}

.consultType{
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.consultTitle{
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 400px;
}

.Consult_table{
    border-bottom: 1px solid rgb(207, 207, 207);
    width: 100%;
    
}

.Consult_table>tr{
    border-bottom: 1px solid rgb(207, 207, 207);
}

.Consult_table>tr>td{
    border-bottom: 1px solid rgb(207, 207, 207);
    text-align: left;
}

.myinfo{
    display: inline;
}

.myinfo_table>tr{
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 7px 4px;
    height: 20px;
}

.myinfo_table>tr>td{
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 7px 4px;
    height: 20px;
    text-align: left;
}



.consult_content{
    margin:50px 144px 50px 50px;
    width:85%;
    height:300px;
    padding-top:10px;
    padding-left: 10px;
    font-size:13px;
    font-weight: bold;
    background-color:rgba(211, 211, 211, 0.178);
    border:1px solid rgba(220, 220, 220, 0.445);
}

.myinfo_table{
    width: 100%;
}

.myname{
    outline: none;
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
}

.tel1{
    outline: none;
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
}

.tel2{
    outline: none;
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
}

.tel3{
    outline: none;
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
}

.email1{
    outline: none;
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
}

.email2{
    outline: none;
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
}

.consultTitle{
    outline: none;
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
}