@charset "utf-8";
.event_Home *{
    color: #000;
    margin: 0;
    padding: 0
}
.event_Home{
    width: 980px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
/* 전체이벤트 시작 */
.event_Home .event_Home_top{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event_Home .event_Home_top ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event_Home .event_Home_top > ul > li{
    margin-right: 10px;
    padding: 2px 10px;
    
}
.event_Home .event_Home_top > ul > li:nth-of-type(2){
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
/* 전체이벤트 끝 */

/* 쿠폰 시작 */

    /* 쿠폰 공통부분 */
    .event_Home .event_section{
        margin-top: 50px;
    }
    .event_Home .event_section>h5{
        text-align: left;
        margin-bottom: 20px;
    }
    .event_Home .event_section > ul{
        display: flex;
        justify-content: space-between;
    }
    .event_Home .event_section > ul > li img{
        border-radius: 35px;
    }
    .event_Home .event_section > ul > li p{
        padding: 10px 25px;
        box-sizing: border-box;
        text-align: left;
    }
/* 쿠폰 끝 */

/* 우리동네 영화관 시작  */

.event_Home .event_section2{
    margin-top: 50px;
}
.event_Home .event_section2>h5{
    text-align: left;
    margin-bottom: 20px;
}

.event_Home .event_section2 > ul > li{
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #eee;
    border-radius: 10px;
}
.event_Home .event_section2 a:hover{
    cursor: pointer;
}

.event_Home .event_section2 a * {
    text-align: left;
}
.event_Home .event_section2 .txt_zone{
    width: 110px; display:block; 
    min-width:70px; padding:5px 35px; margin-right:10px; font-size:19px; font-weight:bold; color:#ffffff; text-align:center; border-radius:16px; -webkit-border-radius:16px; -moz-border-radius:16px; -ms-border-radius:16px; -o-border-radius:16px; box-sizing:border-box;
}

.event_Home .event_section2 .txt_zone.ty5{
    background-color : #3866C2;
}

.event_Home .event_section2 .txt_zone.ty1{
    background-color : #C23838;
}

.event_Home .event_section2 .txt_zone.ty2{
    background-color : #EC6A46;
}

.event_Home .event_section2 strong{
    display: block;
    margin-top: 13px;
    font-size: 24px;
    color: #666;
}

.event_Home .event_section2 .bn_tit_date {
    position: absolute;
    right: 70px;
    top: 50%;
    margin-top: -7px;
    font-size: 15px;
    color: #666666;
}

.event_Home .event_section2 .bn_tit {
    position: relative;
    display: block;
    border: 0 none;
    width: 100%;
    padding: 26px 30px 30px 40px;
    text-align: left;
    box-sizing: border-box;
}

.event_Home .event_section2 .bn_tit.active{
    border: 2px solid #C23838;
}

.event_Home .event_section2 .bn_tit:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 27px;
    top: 50%;
    background: url('https://event.lottecinema.co.kr/NLCHS/Content/images/icon/arr_dw_13.png') no-repeat 50% 50%;
    width: 15px;
    height: 15px;
    margin-top: -6px;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}

/* 우리동네 영화관 끝*/

/* 광고2시작 */

.event_Home .event_section3{
   
    margin: 100px auto;
}



/* 광고2끝 */