.event_detail{
    display: inline;
    width: 980px;
    border: 1px solid black;
    
}

.event_detail .event_ic_name{
    display: flex;
    border-bottom: 2px solid black;
    background: rgb(187, 187, 187);
    position: relative;
    width: 980px;
    justify-content: space-between;
    margin: auto;
}