.MyPage_coupon {
    display: inline;
}

.MyPage_coupon_useable {
    display: flex;
    border: 1px solid;
    position: relative;
    height: 50px;
    
}

.MyPage_coupon_useable > .My_coupon_usesable_count {
    border: 1px solid;
   
}
.MyPage_coupon_useable >p {
    position: absolute;
    right: 0;
    bottom: 3px;
}

.MyPage_coupon_menu {
    display: flex;
    border: 1px solid black;
    right: 0;
    background-color: whitesmoke;
    position: relative;
}

.coupon_delete_parent{
    margin-right: 50px;
    border: 1px solid;
}

.coupon_delete_parent > .coupon_delete_child{
    
    border: 1px solid;
}

.coupon_menu1{
    margin-right: 50px;
    height: 100%;
}


.coupon_menu2{
    margin-right: 100px;
    height: 100%;
}

.couponRegButton{
    position: absolute;
    right: 0%;
}

.coupon_detail_table > tr{
    border-bottom: 1px solid rgb(145, 145, 145);
}


.coupon_detail_detail1:hover + .coupon_detail_detail_detail {
display: table-row;
}
