
  .next_movie_tit{
    padding-right:920px;
    margin-top: 50px;
    font-size:20px;
    font-weight: bold;
  }
  
  .next_movie_list{
    margin-top:20px;
  }
  
  .next_movie_list1{
    margin-right:450px;
    margin-top:20px;
  }
  
  .mv_lastIMG2{
    margin-top:30px;
  }
  
  
  