
  .arte_movie_tit{
    padding-right:920px;
    margin-top: 50px;
    font-size:20px;
    font-weight: bold;
  }
  
  .arte_movie_list{
    margin-top:20px;
  }
  
  .arte_movie_list1{
    margin-right:450px;
    margin-top:20px;
  }
  
  .mv_lastIMG2{
    margin-top:30px;
  }

  .card_hover_content {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(50%);
  }
  
  .primary_button4 {
    background-color:white;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 10px;
  }
  
  
  