#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.place_wrap1{
  width: 950px;
  margin: 0 auto; /* 가운데 정렬을 위한 방법 */
  text-align: center; /* 내부 요소의 가운데 정렬을 위한 방법 */
  margin-bottom: 90px;  
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place_title{
  margin-top: 50px;
  margin-right:50%;
  font-size: 30px;
  font-weight: bold;
}

.ddgroup_btn{
  border:none;
  background-color: white;
  margin-left: 10px;
}

.place_con{
  margin-left:100px;
  margin-top: 20px;
  text-align: left;
  line-height: 30px;
  font-weight: bold;
  
}

.btn_wrap{
  margin-top: 30px;
  margin-right: 360px;
}

.place_btn{
  border:none;
}

.place_down{
  margin-bottom:100px;
  width: 950px;
  margin: 0 auto; /* 가운데 정렬을 위한 방법 */
  text-align: center; /* 내부 요소의 가운데 정렬을 위한 방법 */
  margin-bottom: 100px;
}

.place_down2{
  font-size: 20px;
  font-weight: bold;
}

.con_1{
  margin-right: 400px;
  border:none;
  background-color:white;
  font-weight: bold;
}

.con_2{
  border:none;
  background-color:white;
  font-weight: bold;
}

.place_box1{
  position: relative;
  width: 100%; /* 적절한 너비 설정 */
  background-color: white; /* 적절한 배경색 설정 */
  padding: 20px; /* 적절한 안쪽 여백 설정 */
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  
}

.place_down >.tit {
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.tit {
  border-bottom: 1px solid #CCC;
  font-size: 15px;
  color: #7F7F7F;
  text-decoration: none; /* 파란색 밑줄 제거 */
  background-color: white;
}

.place_down3{
  text-align: left;
  font-size:30px;
  font-weight: bold;
 
}

/* Calender1.css */
.calendarwrap{
  width: 950px;
  margin: 0 auto; /* 가운데 정렬을 위한 방법 */
  text-align: center; /* 내부 요소의 가운데 정렬을 위한 방법 */
  margin-bottom: 100px;
}

.calendarContainer {
  width: 100%;
  padding: 10px;
  margin: 0 auto;

}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendarHeader h2 {
  font-size: 20px;
  margin: 0;
}

.calendarHeader button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}




.calendarDays {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px;
}

.calendarDays div{
  cursor: pointer;
}



.calendarToday {
  background-color: #f0f0f0;
}

.selectedDate {
  padding: 0 10px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.place_box2{
  position: relative;
  top: -98px; /* 원하는 만큼 위로 이동 */
  width: 104%; /* 적절한 너비 설정 */
  height:30px;
  background-color: white; /* 적절한 배경색 설정 */
  padding: 25px; /* 적절한 안쪽 여백 설정 */
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  background-color: #cccccc25;
}

.age_level{
text-align: right;
font-size: 13px;
}

.age_level label {
  margin-left:20px; /* 각 라벨 아래에 5픽셀의 마진 추가 */
}

.re_container{
  position: relative;
  top: -98px; /* 원하는 만큼 위로 이동 */
  width: 104%; /* 적절한 너비 설정 */
  height:900px;
  background-color: white; /* 적절한 배경색 설정 */
  padding: 25px; /* 적절한 안쪽 여백 설정 */
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.re_container .dune1,
.re_container .bab1,
.re_container .oneandonly1,
.re_container .wingka1,
.re_container .maydecember1 {
  margin-top: 40px; /* 각 항목의 위쪽 간격 조정 */
}

.movtime_con{
  width: 10%; /* 적절한 너비 설정 */
  height:10px;
  background-color: white; /* 적절한 배경색 설정 */
  padding: 25px; /* 적절한 안쪽 여백 설정 */
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  border:1px solid black;
}

.pamu1 {
  display: flex; /* 하위 요소들을 가로로 정렬합니다. */
  flex-wrap: wrap; /* 필요시 요소들을 여러 줄로 나눕니다. */
}

.dune1{
  display: flex; /* 하위 요소들을 가로로 정렬합니다. */
  flex-wrap: wrap;
}

.bab1{
  display: flex; /* 하위 요소들을 가로로 정렬합니다. */
  flex-wrap: wrap;
}

.oneandonly1{
  display: flex; /* 하위 요소들을 가로로 정렬합니다. */
  flex-wrap: wrap;
}

.wingka1{
  display: flex; /* 하위 요소들을 가로로 정렬합니다. */
  flex-wrap: wrap;
}

.maydecember1{
  display: flex; /* 하위 요소들을 가로로 정렬합니다. */
  flex-wrap: wrap;
}

.squareButton{
  width:88px;
  height:40px;
  background-color: #cccccc23;
  border:1px solid rgba(128, 128, 128, 0.322);
  border-radius: 3px;
  margin-left: 10px;
}

.timeInfo {
  font-size: 12px; /* 원하는 크기로 조정 */
  
}

.timeb1 {
  display: flex;
  flex-wrap: wrap; /* 필요시 버튼이 한 줄을 벗어날 경우 여러 줄로 나열하도록 설정 */
}

/* 또는 직접 클래스에 스타일을 적용할 수도 있습니다 */
.timeb1 button {
  font-size: 13px; /* 원하는 크기로 조정 */
  font-weight:bold;
  margin-right: 10px; /* 버튼 사이의 간격 조절 */
  margin-bottom: 10px;
}

.mv_lastIMG1{
  position: relative;
  top: -450px; /* 원하는 만큼 위로 이동 */
}

/* 달력부분 색 */
.sunday {
  color: red; /* 일요일 텍스트 색상을 빨간색으로 지정 */
}

.saturday {
  color: blue; /* 토요일 텍스트 색상을 파란색으로 지정 */
}

.theater_btn_wrap{
  text-align: left;
  padding-left: 84px;
}
