#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper {
  width: 100%;
  height: 100%;
  margin-top: 12px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.next_movie_tit{
  padding-right:920px;
  margin-top: 50px;
  font-size:20px;
  font-weight: bold;
}

.next_movie_list{
  margin-top:20px;
}

.next_movie_list1{
  margin-right:450px;
  margin-top:20px;
  align-items: left;
}

.next_movie_list2{
  margin-top:20px;
  margin-right: 50px;
  font-size:15px;
}

.mv_lastIMG2{
  margin-top:30px;
}

.card_hover_content {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(50%);
}

.primary_button3 {
  background-color:white;
  color: black;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 10px;
}


