.detail_movie_wrap{
    width: 950px;
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 100px;
  }
  
  .detail_info {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
  }
  
  .detail_img_box{
    width: 20%; /* 적절한 너비 설정 */
    height: 400px; /* 적절한 높이 설정 */
    padding: 20px; /* 적절한 안쪽 여백 설정 */
    border-radius: 10px;
    margin-left:100px;
    margin-bottom:90px;
  }
  
  .detail_img_box img {
    width: 250px; /* 이미지 너비 조정 */
  }
  
  .detail_text{
    margin-bottom: 70px;
    margin-left:auto;
  }
  
  .detail_title {
    font-weight: bold; /* 제목 굵게 */
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .detail_con{
    margin-left:115px;
    margin-top: 10px;
    text-align: left;
    line-height: 30px;
    font-weight: bold;
    font-size:17px;
  }
  
  .detail_con1 label {
    margin-right:10px; /* 조절할 간격 크기 */
  }
  
  .btn_wrap1 {
    margin-top: 30px; /* 버튼 그룹 위쪽 여백 추가 */
    margin-right: 60px;
  }
  
  .detail_btn1 {
    width:27%;
    height:40px;
    margin-right: 5px; /* 버튼들 간격 조정 */
    border:1px solid black;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
  }
  
  .detail_btn2{
    width:19%;
    height:40px;
    margin-left: 10px; /* 버튼들 간격 조정 */
    border:1px solid black;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
  }
  
  .detail_btn3{
    margin-left: 10px; /* 버튼들 간격 조정 */
    border:none;
  }
  
   /*이용약관 내용  */
   .detail_box {
    margin-left: 110px;
    margin-bottom: 300px;
    margin-top:30px;
    width:90%;
    height:120px;
    padding: 10px;
    overflow-y: auto; /* 수직 스크롤바를 표시하도록 설정합니다 */
    max-height: 200px; /* 스크롤바가 나타날 최대 높이를 지정합니다 */
  }
  
  .detail_con2{
      font-size: 14px;
    font-weight:bold;
      color:black;
    text-align: left;
    
  }
  
  .btn_wrap2{
    margin-bottom: 20px; /* 상세내용 박스 위쪽 여백 설정 */
    margin-top: -250px; /* 예매하기 버튼을 상세내용 박스 위로 이동 */
    
  }
  
  .detail_btn4{
    width:45%;
    height:55px;
    border-radius: 30px;
    border:none;
    font-size:23px;
    color:white;
    background-color: red;
    margin-right: 130px;
  }
  
  .detail_down{
    margin-bottom:100px;
  }
  
  .detail_down2{
    font-size: 20px;
    font-weight: bold;
  }
  
  .con_1{
    margin-right: 400px;
    border:none;
    background-color:white;
    font-weight: bold;
  }
  
  .con_2{
    border:none;
    background-color:white;
    font-weight: bold;
  }
  
  .detail_box1{
    position: relative;
    width: 100%; /* 적절한 너비 설정 */
    background-color: #d3d3d321; /* 적절한 배경색 설정 */
    padding: 20px; /* 적절한 안쪽 여백 설정 */
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    
  }
  
  .detail_down >.tit {
    border: none;
    border-bottom: 1px solid #eeeeee;
  }
  
  .tit {
    border-bottom: 1px solid #CCC;
    font-size: 15px;
    color: #7F7F7F;
    text-decoration: none; /* 파란색 밑줄 제거 */
    background-color: white;
  }
  
  .detail_down3{
    text-align: left;
    font-size:30px;
    font-weight: bold;
   
  }
  
  .detail_trailer1{
    margin-top:30px;
    border-radius: 20px;
    border:none;
  }
  
  .detail_trailer2{
    margin-right: 370px;
    margin-left: 20px;
    border-radius: 20px;
    border:none;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal_content {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .modal_content2 {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .detail_last{
    margin-top:50px;
  }
  
  /* 관람평 등록 */
  
  .detail_movie_wrap .plz_login{
    text-align: center;
  }
  .detail_movie_wrap h4{
    margin-top: 30px;
  }
  
  /* 관람평 등록 버튼 */
  .detail_movie_wrap .plz_login_button{
    width: 380px;
      height: 50px;
      margin-bottom: 35px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #414141;
  }
  .detail_movie_wrap .star_info{
    text-align: center;
  }
  
  .detail_movie_wrap .star_info>div>ul{
    display: flex;
    justify-content: center;
  }
  
  .detail_movie_wrap .star_info>div>ul>li{
    margin-right: 10px;
    cursor: pointer;
  }
  
  
  .movie_review_list>ul{
    margin-top: 30px;
  }
  .movie_review_list>ul>li{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    display: flex;
  }
  
  .movie_review_list>ul>li .movie_review_content {
    text-align: left;
  }
  .movie_review_list>ul>li img{
    flex-shrink: 0;
    width: 100px;
  
  }
  
  
  /* 가득별 */
  /* https://www.lottecinema.co.kr/NLCHS/Content/images/icon/ico_star64_on.png */
  
  /* 빈별 */
  /* https://www.lottecinema.co.kr/NLCHS/Content/images/icon/ico_star64_off.png */
  
  
  